<h1>All teams</h1>
<%= link_to 'Your profile', user_path(current_user.id)%></br>
Amount of teams: <%= @teams.count %>
<%= render @teams %>
<%= link_to "Create new team", new_team_path(@team), :class => 'btn btn-warning' %>