<h2 class="d-flex justify-content-center mt-4 mb-3">All teams</h2>
<p class="mb-4">Amount of teams: <%= @teams.count %></p>
<%= link_to "Create new team", new_team_path(@team),:class =>"btn btn-outline-info btn-sm" %>
<%= render @teams %>
